<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th></th>        
        </tr>
    </thead>
    <tbody>
        <!-- <%= render partial: "produto", collection: @produtos_order_nome %> descritivo oq o cara de baixo faz  -->
        <%= render @produtos_order_preco %>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>           
        </tr>
    </thead>
    <tbody>
        <!-- <%= render partial: "produto", collection: @produtos_order_preco %>  descritivo oq o cara de baixo faz  -->
        <%= render @produtos_order_preco %>
    </tbody>    
</table>

<%= link_to "Novo", new_produto_path %>