<html>
<body>
<%= form_for Produto.new do |f| %>
	Nome
	<%= f.text_field :nome %> <br/>

	Descrição
	<%= f.text_area :descricao %> <br/>

	Quantidade
	<%= f.number_field :quantidade, step: 1 %> <br/>

	Preço
	<%= f.number_field :preco %> <br/>

	<%= f.submit "Salvar" %>
<% end %>
</body>
</html>